/* Width的值可根据喜好调整（屏幕的宽度） */
@media (max-width: 960px) {

    /* Aplayer音乐标签伸缩 */
    .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
        left: -66px !important;
        /* 默认情况下缩进左侧66px，只留一点箭头部分 */
    }

    .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
        left: 0 !important;
        /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
    }
}

/* Aplayer日间模式调整 */
/* 背景色 */
.aplayer {
    background: rgba(255, 255, 255, 0.6) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.aplayer.aplayer-fixed :after,
.aplayer.aplayer-fixed :before {
    display: none;
}

.aplayer.aplayer.aplayer-fixed .aplayer-body {
    background: rgba(255, 255, 255, 0.6) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
}

/* 滚动条 */
.aplayer .aplayer-list ol::-webkit-scrollbar {
    width: 5px;
}

.aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--theme-color) !important;
}

.aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-color) !important;
}

/* 圆角 */
.aplayer.aplayer-fixed .aplayer-list {
    border-radius: 6px 6px 0 0 !important;
}

.aplayer.aplayer-fixed .aplayer-miniswitcher {
    border-radius: 0 6px 6px 0 !important;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    transition: 0.28s !important;
    border-radius: 6px !important;
}

/* 选中与播放中歌曲激活颜色 */
.aplayer .aplayer-list ol li:hover {
    background: var(--theme-color) !important;
}

.aplayer .aplayer-list ol li.aplayer-list-light {
    background: var(--theme-color) !important;
}

/* 歌词 */
.aplayer-lrc {
    display: none !important;
}

/* Aplayer黑暗模式 */
[data-theme="dark"] .aplayer {
    background: rgba(22, 22, 22, 0.6) !important;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .aplayer.aplayer-fixed .aplayer-body {
    background: rgba(22, 22, 22, 0.6) !important;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path {
    fill: #d4d4d4;
}

[data-theme="dark"] .aplayer .aplayer-list ol li:hover {
    background: var(--theme-color) !important;
}

[data-theme="dark"] .aplayer .aplayer-list ol li.aplayer-list-light {
    background: var(--theme-color) !important;
}

[data-theme="dark"] .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    color: #d4d4d4;
}

[data-theme="dark"] .aplayer .aplayer-list ol li .aplayer-list-index {
    color: #d4d4d4;
}

[data-theme="dark"] .aplayer .aplayer-list ol li .aplayer-list-author {
    color: #d4d4d4;
}

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content>.card-widget.card-info {
    background: linear-gradient(-45deg, rgba(225, 235, 255, .6),
            rgba(225, 235, 255, .9),
            rgba(225, 235, 255, .9),
            rgba(225, 235, 255, .6));
}

[data-theme=dark] #aside-content>.card-widget.card-info {
    background: linear-gradient(-45deg, rgba(24, 40, 72, .2),
            rgba(35, 37, 58, .9),
            rgba(35, 37, 58, .9),
            rgba(24, 40, 72, .2));
}

/* 侧边栏公告栏卡片渐变色 */
#aside-content>.card-widget.card-announcement {
    background: linear-gradient(-45deg, rgba(225, 235, 255, .6),
            rgba(225, 235, 255, .9),
            rgba(225, 235, 255, .9),
            rgba(225, 235, 255, .6));
}

[data-theme=dark] #aside-content>.card-widget.card-announcement {
    background: linear-gradient(-45deg, rgba(24, 40, 72, .2),
            rgba(35, 37, 58, .9),
            rgba(35, 37, 58, .9),
            rgba(24, 40, 72, .2));
}

/* 侧边栏目录最新文章卡片渐变色 */
#aside-content>.sticky_layout>.card-widget {
    background: linear-gradient(-45deg, rgba(225, 235, 255, .6),
            rgba(225, 235, 255, .9),
            rgba(225, 235, 255, .9),
            rgba(225, 235, 255, .6));
}

[data-theme=dark] #aside-content>.sticky_layout>.card-widget {
    background: linear-gradient(-45deg, rgba(24, 40, 72, .2),
            rgba(35, 37, 58, .9),
            rgba(35, 37, 58, .9),
            rgba(24, 40, 72, .2));
}

/* 个人信息Follow me按钮 */
#aside-content>.card-widget.card-info>#card-info-btn {
    background-color: #3eb8be;
    border-radius: 8px;
}

/*文章页面*/
.layout>#post {
    background: linear-gradient(-45deg, rgba(225, 235, 255, .7),
            rgba(225, 235, 255, .8),
            rgba(225, 235, 255, .8),
            rgba(225, 235, 255, .7));
}

[data-theme=dark] .layout>#post {
    background: linear-gradient(-45deg, rgba(24, 40, 72, .2),
            rgba(35, 37, 58, .9),
            rgba(35, 37, 58, .9),
            rgba(24, 40, 72, .2));
}

/*主页文章预览页面*/
#recent-posts .recent-post-item {
    background: linear-gradient(-45deg, rgba(225, 235, 255, .7),
            rgba(225, 235, 255, .8),
            rgba(225, 235, 255, .8),
            rgba(225, 235, 255, .7));
}

[data-theme=dark] #recent-posts .recent-post-item {
    background: linear-gradient(-45deg, rgba(24, 40, 72, .2),
            rgba(35, 37, 58, .9),
            rgba(35, 37, 58, .9),
            rgba(24, 40, 72, .2));
}

/*分类页面*/
.layout>#page {
    background: linear-gradient(-45deg, rgba(225, 235, 255, .7),
            rgba(225, 235, 255, .8),
            rgba(225, 235, 255, .8),
            rgba(225, 235, 255, .7));
}

[data-theme=dark] .layout>#page {
    background: linear-gradient(-45deg, rgba(24, 40, 72, .2),
            rgba(35, 37, 58, .9),
            rgba(35, 37, 58, .9),
            rgba(24, 40, 72, .2));
}

/*时间轴页面*/
.layout>#archive {
    background: linear-gradient(-45deg, rgba(225, 235, 255, .7),
            rgba(225, 235, 255, .8),
            rgba(225, 235, 255, .8),
            rgba(225, 235, 255, .7));
}

[data-theme=dark] .layout>#archive {
    background: linear-gradient(-45deg, rgba(24, 40, 72, .2),
            rgba(35, 37, 58, .9),
            rgba(35, 37, 58, .9),
            rgba(24, 40, 72, .2));
}

#blog-info img {
    border-radius: 5px;
}

#aside-content img {
    border-radius: 15px;
}

#rightside-config-show button {
    position: relative;
    top: -200px; 
}

#rightside-config-hide button {
    position: relative;
    top: -200px;
}

.recent-post-items img {
    border-radius: 8px;
}